Gutenberg==0.4.0
SPARQLWrapper==1.6.4
cymem==1.11
html5lib==0.9999999
isodate==0.5.4
murmurhash==0.24
numpy==1.10.1
plac==0.9.1
preshed==0.41
pyparsing==2.0.3
rdflib==4.2.1
requests==2.5.3
six==1.10.0
spacy==0.94
text-unidecode==1.0
thinc==3.3
ujson==1.33
wget==2.2
wsgiref==0.1.2
